<p>
  <b>Phrase:</b>
  <%=h @phrase.phrase %>
</p>

<p>
  <b>Detail:</b>
  <%=h @phrase.detail %>
</p>


<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %> |
<%= link_to 'New', new_phrase_path %>
